/* On mouse hover, lighten state color */
path:hover {
    fill-opacity: .7;
}

#map-view{
    margin-left: -10px
}

#map-view::after{
    content: "Click on any state to view details";
    padding-left: 270px;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
}


/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Legend Font Style */
body {
    font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
    position:absolute;
    left: 765px;
    top: 750px;
}
.chart {
    background: rgba(234, 205, 205, 0.5);
    margin: 5px;
    border: solid 1px darkred;
}

.chart rect {
    stroke: white;
}

.chart avg {
    stroke: black;
}

.inline{
    display: inline;
}


.center-align{
    text-align:center;
}

.chart text.score {
    fill: black;
}

.chart text.paramter {
    fill: black;
}

.chart text.name {
    fill: #000;
}
#bar-chart{
    margin-left: -50px;
}
#nationalAvgLegend{
    position: absolute;
    right: -350px;
    top: 0px;
}
#table{
    position: absolute;
    top: 848px;
    margin-left: 180px;
}

.table-class{
    width: 400px;
    height: 150px;
    background: #f4e6e6;
}

rect:hover {
    fill-opacity: .7;
}

.tooltip-title {
    padding-left: 10px;
    padding-right: 10px;
    border-style: groove;
    position: absolute;
    pointer-events: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    font-size:11px;
    text-transform: capitalize;
}
.highlight-class{
    fill:#a9a19e !important;
    color: aqua;
}



#table>table{
    text-align: center;
}

.bold{
    font-weight: bold;
}

#userInputTable{
    margin-left: 40px;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.btn-color{
    background-color: #ec6b4f;
    border-color: #c0513b;
}
/*!* basic positioning *!*/
/*.legend { list-style: none; }*/
/*.legend li { float: left; margin-right: 10px; }*/
/*.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;}*/
/*!* your colors *!*/
/*.legend .state1 { background-color: green; }*/
/*.legend .state2 { background-color: blue; }*/
/*.legend .state3 { background-color: red; }*/